 Starting Python Interpreter

In [1]:
45

45

In [1]:
3+4

7

Data Types and Assign Operator

In [3]:
age = 11
name ="XYZ"
tall=100.50

In [7]:
type(age)
type(name)
type(tall)

float

In [8]:
print (age)
print (name)
print (tall)

11
XYZ
100.5

In [9]:
x=5
y=10
total = x+y
print(total)

15

Multiple Assignments

In [10]:
age= mark = code =25
print (age)
print (mark)
print (code)

25
25
25

In [11]:
age, mark, code=10,75,"CIS2403"
print (age)
print (mark)
print (code)

10
75
CIS2403

In [12]:
#Indentation
print(x)
    print(y)

IndentationError: unexpected indent (1067698335.py, line 3)

In [16]:
#Arithmetic Operators
x=5
y=10
print(x+y)
print(x-y)
print(y/x)
print(x**y)
z=20
print(z//)

15
-5
2.0
9765625
6

In [15]:
print(y//x)
print(y%x)

2
0

In [5]:
#Shorthand Assignment
x=5
x/=5
print(x)

1.0

In [6]:
#Relational Operators
4>=5

False

In [7]:
#Logical Operators
print( not 1<4)

False

Selection Statements

In [ ]:
x=5
if x==5:
  print('Equal 5')
elif x>5:
  print('Greater than 5')
elif x<5:
  print('Less than 5')

In [17]:
year=2000
if year%4==0:
  print("Year(", year ,")is Leap")
else:
  print (year , "Year is not Leap" )

Year( 2000 )is Leap

Indentation

In [18]:
x=2
if x>2:
  print ("Bigger than 2")
  print (" X Value bigger than 2")
print ("Now we are out of if block\n")

Now we are out of if block

Read Data from Users

In [19]:
name = input("Enter your name ")
age = int (input("Enter your age "))
print ("\nName =", name); print ("\nAge =", age)

Enter your name Bhavya
Enter your age 18

Name = Bhavya

Age = 18

Nested Selection Statements

In [20]:
a=10
if a>=20:
  print ("Condition is True" )
else:
  if a>=15:
    print ("Checking second value" )
  else:
    print ("All Conditions are false" )

All Conditions are false

Iteration Statements

In [1]:
# use the range statement
for a in range (1,4):
  print ( a )

1
2
3

In [2]:
range(5)

range(0, 5)

In [3]:
for a in range (4):
  print ( a )

0
1
2
3

In [21]:
# A Selection Statement Inside a Loop Statement
largest = None
print ('Before:', largest)
for val in [30, 45, 12, 90, 74, 15]:
  if largest is None or val>largest:
    largest = val
  print ("Loop", val, largest)
print ("Largest", largest)

Before: None
Loop 30 30
Loop 45 45
Loop 12 45
Loop 90 90
Loop 74 90
Loop 15 90
Largest 90

Break, Continue, and Pass Statements

In [6]:
for letter in 'Python3':
  if letter == 'o':
    break
  print (letter)

P
y
t
h

In [7]:
a=0
while a<=5:
  a=a+1
  if a%2==0:
      continue
  print (a)
print ("End of Loop" )

1
3
5
End of Loop

In [22]:
for i in [1,2,3,4,5]:
  if i==3:
    pass
    print ("Pass when value is", i )
  print (i)

1
2
Pass when value is 3
3
4
5

try and except

In [10]:
astr='Hello world' 
istr=int(astr) # error

ValueError: invalid literal for int() with base 10: 'Hello world'

In [23]:
astr='Hello world'
erormsg=''
try:
  istr=int(astr) # error
except:
  istr=-1 
  errormsg="\nIncorrect entry"
print ("First Try:", istr , errormsg)

First Try: -1
Incorrect entry

In [24]:
astr='12'
erormsg=''
try:
  istr=int(astr) # error
except:
  istr=-1 
  errormsg="\nIncorrect entry"
print ("First Try:", istr , errormsg)

First Try: 12
Incorrect entry

In [29]:
y=int(input("enter y: "))
try:
    x=5/y
except ZeroDivisionError:
    print("Zero Devision Error")
except:
    print("Undefined Error")
print(x)

enter y: 0
Zero Devision Error
0.4166666666666667

Formatting Strings

In [1]:
print ("pi=%s"%"3.14159")

pi=3.14159

In [32]:
print ("pi=%s"%3.14159)

pi=3.14159

In [35]:
print("The value of %s is = %f" % ('pi', 3.141596))

The value of pi is = 3.141596

In [6]:
print("Your name is %s, and your height is %.2f while your weight is %d" % ('Ossama',172.156783, 75.56647))

Your name is Ossama, and your height is 172.16 while your weight is 75

In [9]:
print ("Hi %(Name)s, your height is %(height).2f" %{'Name':"Ossama", 'height': 172.156783})

Hi Ossama, your height is 172.16

Replacement Field {}

In [5]:
x = "price is"
print ("{1} {0} {2}".format(x, "The", 1920.345))

The price is 1920.345

In [10]:
w=9
print ("{1[1]} {0} {1[2]} {2[test]} {3}".format("This", ["a", "or", "is"], {"test": "another"},w))

or This is another 9

String Slicing and Concatenation

In [3]:
var1 = 'Welcome to India'
var2 = "Python Programming"
print ("var1[0]:", var1[0])
print ("var2[1:5]:", var2[1:5])
print("var2[:5]:", var2[:5])

var1[0]: W
var2[1:5]: ytho
var2[:5]: Pytho

In [1]:
st1="Hello"
st2=' World'
fullst=st1 + st2
print (fullst)

Hello World

In [11]:
fruit = 'banana'
letter= fruit[1]
print (letter)
index=3
w = fruit[index-1]
print (w)
print (len(fruit))

a
n
6

String Convertions and Formatting Strings

In [12]:
#Convert string to int
str3 = '123'
str3= int (str3)+1
print(str3)

124

In [2]:
#Read and convert data
name=input('Enter your name: ')
age=input('Enter your age: ')
age= int(age) + 1
print ("Name: %s"% name ,"\t Age:%d"% age)

Enter your name: Suresh
Enter your age: 34
Name: Suresh 	 Age:35

Loop through Strings

In [2]:
#Looking through string
fruit ='banana'
index=0
while index< len(fruit):
  letter = fruit [index]
  print(index, letter)
  index = index+1

0 b
1 a
2 n
3 a
4 n
5 a

In [5]:
fruit ='banana'
print ("\nPrinting in reverse order")
index=len(fruit)-1
while index>=0 :
  letter = fruit [index]
  print (index, letter )
  index=index-1

Printing in reverse order
5 a
4 n
3 a
2 n
1 a
0 b

In [4]:
fruit ='banana'
print ("\nPrinting in reverse order")
start=-len(fruit)
index = -1
while index>=start :
  letter = fruit [index]
  print (index, letter )
  index=index+-1

Printing in reverse order
-1 a
-2 n
-3 a
-4 n
-5 a
-6 b

In [5]:
Country='USA'
for letter in Country:
  print (letter)

U
S
A

In [5]:
# Looking and counting
word='banana'
count=0
for letter in word:
  if letter =='a':
    count +=1
print ("Number of a in ", word, "is :", count )

Number of a in  banana is : 3

In [6]:
# String Slicing
s="Welcome to Manipal Institute of Technology"
print (s[0:4])
print (s[6:7])
print (s[6:20])
print (s[:12])
print (s[2:])
print (s [:])
print (s)

Welc
e
e to Manipal I
Welcome to M
lcome to Manipal Institute of Technology
Welcome to Manipal Institute of Technology
Welcome to Manipal Institute of Technology

String Functions and Methods

In [2]:
var1 =' Higher Colleges of Technology '
var2='College'
var3='g'
print (var1.upper())
print (var1.lower())
print ('WELCOME TO'.lower())
print (len(var1))
print (var1.count(var3, 2, 29) ) # find how many g letters in var1
print ( var2.count(var3) )

 HIGHER COLLEGES OF TECHNOLOGY
 higher colleges of technology
welcome to
31
3
1

In [40]:
var1 =' Higher Colleges of Technology '
print (var1.startswith('O'))
print (var1.find('ec'))
print (var1.lstrip()) # It removes all leading whitespace of a string in var1
print (var1.rstrip()) # It removes all trailing whitespace of a string in var1
print (var1.strip()) # It removes all leading and trailing whitespace
print ('\n')
print (var1.replace('Colleges', 'University'))

False
21
Higher Colleges of Technology
 Higher Colleges of Technology
Higher Colleges of Technology


 Higher University of Technology

In [10]:
var1 =' Higher Colleges of Technology '
var2='College'
var3='g'
print ( var2 in var1)
print ( var2 not in var1)

True
False

In [41]:
#Parsing and Extracting strings
Maindata = 'From ossama.embarak@hct.ac.ae Sunday Jan 4 09:30:50 2017' 
atpost = Maindata.find('@')
print ("\n<<<<<<<<<<<<<<>>>>>>>>>>>>>")
print (atpost)
print (Maindata[ :atpost])
data = Maindata[ :atpost]
p= Maindata.count(" ")
print(p)
name=data.split(' ')
print (name)
print (name[1].replace('.', ' ').upper())
print ("\n<<<<<<<<<<<<<<>>>>>>>>>>>>>")

<<<<<<<<<<<<<<>>>>>>>>>>>>>
19
From ossama.embarak
6
['From', 'ossama.embarak']
OSSAMA EMBARAK

<<<<<<<<<<<<<<>>>>>>>>>>>>>

In [5]:
Maindata = 'From ossama.embarak@hct.ac.ae Sunday Jan 4 09:30:50 2017'
name= Maindata[ :atpost].replace('From','').upper()
print (name.replace('.',' ').upper().lstrip())
print ("\n<<<<<<<<<<<<<<>>>>>>>>>>>>>")
sppos=Maindata.find(' ', atpost)
print (sppos)
print (Maindata[ :sppos])
host = Maindata [atpost + 1 : sppos ]
print (host)
print ("\n<<<<<<<<<<<<<<>>>>>>>>>>>>>")

OSSAMA EMBARAK

<<<<<<<<<<<<<<>>>>>>>>>>>>>
29
From ossama.embarak@hct.ac.ae
hct.ac.ae

<<<<<<<<<<<<<<>>>>>>>>>>>>>

Functions

Built-in Functions

In [1]:
print('hello')
print('hello', 1, 2, 3)

hello
hello 1 2 3

In [42]:
len("hello")
len(['a', 'b', 'c'])

3

In [43]:
int("5")
str(5)

'5'

In [51]:
#Counting the digits in a number
len(str(12345))
len(str(2 ** 100))
len(str(2 ** 1000))

302

User Defined / Custom Functions

In [52]:
def square(x):
   return x * x

square(5)

25

In [53]:
def sum_of_squares(x, y):
   return square(x) + square(y)

sum_of_squares(2, 3)

13

In [54]:
#Functions are just like other values, they can assigned, passed as arguments to other functions etc.
f = square
f(4)

16

In [4]:
def fxy(f, x, y):
    return f(x) + f(y)

fxy(square, 2, 3)

13

In [55]:
#Scope of variables used in functions
x = 0
y = 0
def incr(x):
    y = x + 1
    return y
z=incr(5)
print(x, y,z)

0 0 6

In [57]:
#Global variables
pi = 3.14
def area(r):
    return pi * r * r

In [59]:
#However, you have to explicitly declare a variable as global to modify it.
numcalls = 0
def square(x):
    global numcalls
    numcalls = numcalls + 1
    return x * x
print(square(4))
print(numcalls)

16
1

Anonymous Functions

Notice that unlike function defination, lambda doesn’t need a return. The body of the lambda is a single expression.

The lambda operator becomes handy when writing small functions to be passed as arguments etc.

In [5]:
summation=lambda val1, val2: val1 + val2   #Call summation as a function
print ("The summation of 7 + 10 = ", summation(7,10) )

The summation of 7 + 10 =  17

In [16]:
result = lambda x, y : x * y
result(2,5)

10

In [6]:
#map() function apply a specific fn on a sequence
#r = map(func, seq)
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
Temp = (15.8, 25, 30.5,25)
F = list ( map(fahrenheit, Temp))
C = list ( map(celsius, F))
#F = list ( map(lambda T: (float(9)/5)*T + 32, Temp))
#C = list ( map(lambda T: (float(5)/9)*(T-32), F))
print (F)
print (C)

[60.44, 77.0, 86.9, 77.0]
[15.799999999999999, 25.0, 30.500000000000004, 25.0]

In [6]:
#filter function,filters out all elements of the list
#for which the applied function returns true
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = filter(lambda x: x % 2==0, fib)
for x in result:
    print(x)

<filter object at 0x000001CDEB566160>
0
2
8
34

In [8]:
#reduce() cotinutuosly applies the function on a sequence and returns a value
from functools import reduce
f = lambda a,b: a if (a > b) else b
reduce(f, [47,11,42,102,13])

102

In [9]:
reduce(lambda x,y: x+y, [47,11,42,13])

113

In [24]:
#For a given sequence of numbers, apply filter, map and reduce
from functools import reduce
l = [11, 22, 33, 44, 55, 66, 77, 111, 222]
print("Original List: ",l)

lf= list(filter(lambda x:x<100, l))
print("Filtered list: ",lf)

lm= list(map(lambda x: x//10, lf))
print("mapped list: ",lm)

lr= reduce(lambda x,y: x+y, lm)
print("reduced value: ",lr)

Original List:  [11, 22, 33, 44, 55, 66, 77, 111, 222]
Filtered list:  [11, 22, 33, 44, 55, 66, 77]
mapped list:  [1, 2, 3, 4, 5, 6, 7]
reduced value:  28

Exercise Problems

In [ ]:
#Exercise 1: Arithmetic Operation

n1=int(input('First No: '))
n2=int(input('Second No:'))
print('n1+n2: ',n1+n2)
 
print('n1-n2: ',n1-n2)
 
print('n1*n2: ',n1*n2)
 
print('n1/n2:',n1/n2)

In [ ]:
x=input("Enter First No.")
y=input("Enter Second No")
a=int(x)+int(y)
b=int(x)-int(y)
c=int(x)*int(y)
d=int(x)/int(y)
print("x+y: ",a)
print("x-y: ",b)
print("x*y: ",c)
print("x/y: ",d)

In [1]:
#Exercise 2: Area of a triangle
A=input("Enter Side A")
B=input("Enter Side B")
C=input("Enter Side C")
A=int(A);B=int(B); C=int(C)
s=(A+B+C)/2
Area=(s*(s-A)*(s-B)*(s-C))**1/2
print("Area: ",Area)

Enter Side A3
Enter Side B5
Enter Side C4
Area:  18.0

In [ ]:
#Exercise 3:Calculate Gross Pay
wH=input("Working Hours: ")
r=input("Enter rate per hour: ")
wH=int(wH)
r=float(r)
sal=((wH*r)+((wH-30)*r*0.5))
print("salary: ",sal)

With try and except

In [ ]:
HFlag = True
rFlag = True
while HFlag=Ture and rFlag = Ture:
  try:
    wH=int(input("Working Hours: "))
    HFlag=False
  except:
    print(Wrong Hour Value!)
  try:
    r=float(input("Enter rate per hour: "))
    rFlag = False
  except:
    print(Wrong rate value)
 
sal=((wH*r)+((wH-30)*r*0.5))
print("salary: ",sal)

In [ ]:
#Exercise 4: Based upon the age display a message
age=input("Age: ")
age=int(age)
if age<13:
  print("Child")
elif age<19:
  print("Teenager")
elif age<60:
  print("Adult")
else:
 print("Senior Citizen")

In [ ]:
#Additional Exercise A: Factorial of n
n=int(input("Enter  n: "))
nfact = 1
while (n>0):
    nfact *= n
    n=n-1
print('nfact: ',nfact)

In [60]:
from functools import reduce
l=[1,5,2,8,33,91,3]
print(reduce(lambda x,y:x+y,l ))

143

In [ ]:
## Additional Exercise B: Find largest and least in a list of numbers
l=[1,5,2,8,33,91,3]
largest = None
least = None
for n in l:
    if largest == None or n > largest:
        largest = n
    if least == None or n < least:
        least = n
print('largest: ', largest)
print('leasst: ', least)

In [ ]:
#Additional Exercise C: Arithmetic operation
n1=int(input('First No: '))
n2=int(input('Second No:'))
op=str(input('Arithmetic Operator (+ - * /): '))
if op == '+':
    print(n1+n2)
elif op == '-':
    print(n1-n2)
elif op=='*':
    print(n1*n2)
else:
    print(n1/n2)