In [ ]:
Creating a Series with index

In [5]:
#Creating a Series of Ndarray Data with Labels
import numpy as np
import pandas as pd
#Empty Series
s=pd.Series()
print(s)

s1 = pd.Series([1,2,3,4], index=['a','b', 'c', 'd'])
print(s1)

Series([], dtype: float64)
a    1
b    2
c    3
d    4
dtype: int64

C:\Users\Mahe\AppData\Local\Temp\ipykernel_15724\51444648.py:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=pd.Series()

In [9]:
#Create series from array using pandas and numpy
import pandas as pd
import numpy as np
data = np.array([90,75,50,66])
s = pd.Series(data,index=['A','B','C','D'])
print (s)

A    90
B    75
C    50
D    66
dtype: int32

In [13]:
#Create series from dictionary using pandas
import pandas as pd
import numpy as np
data = {'Ahmed' : 92, 'Ali' : 55, 'Omar' : 83}
s = pd.Series(data, index=['Ali','Ahmed','Omar'])
print (s)

Ali      55
Ahmed    92
Omar     83
dtype: int64

In [4]:
#numpy.random.randn(d0, d1, ..., dn)
import pandas as pd
import numpy as np
Series1 = pd.Series(np.random.randn(4), index=['a','b', 'c', 'd'])
print(Series1)
print(Series1.index)

a    1.003549
b   -0.716537
c   -0.122248
d    0.528802
dtype: float64
Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
#Creating a Series of Ndarray Data without Labels
import numpy as np
import pandas as pd
Series2 = pd.Series(np.random.randn(4))
print(Series2)
print(Series2.index)

0   -0.028844
1    1.312110
2   -0.829523
3    0.543879
dtype: float64
RangeIndex(start=0, stop=4, step=1)

In [13]:
#Slicing data from a series
print (" \n Series slicing ")
print (Series1[:3])
print ("\nIndex accessing")
print (Series1[[3,1,0]])
print ("\nSingle index")
x = Series1[0]
print (x)

 Series slicing
a   -1.813085
b   -1.813085
c   -1.813085
dtype: float64

Index accessing
d   -1.813085
b   -1.813085
a   -1.813085
dtype: float64

Single index
-1.8130850203144702

In [21]:
#Series Sample Operations 
print ("\nSeries Sample operations")
print ("\n Series values greater than the mean: %.4f"% Series1.mean())
print (Series1 [Series1> Series1.mean()])
print ("\n Series values greater than the Meadian:%.4f" % Series1.median())
print (Series1 [Series1> Series1.median()])
print ("\nExponential value ")
Series1Exp = np.exp(Series1)
print (Series1Exp)

Series Sample operations

 Series values greater than the mean: 0.0037
a    0.035903
c    0.286906
d    0.227792
dtype: float64

 Series values greater than the Meadian:0.1318
c    0.286906
d    0.227792
dtype: float64

Exponential value
a    1.036555
b    0.585283
c    1.332299
d    1.255823
dtype: float64

Creating a Series from Dictionary

In [9]:
dict = {'m' : 2, 'y' : 2018, 'd' : 'Sunday'}
print ("\nSeries of non declared index")
SeriesDict1 = pd.Series(dict)
print(SeriesDict1)
print ("\nSeries of declared index")
SeriesDict2 = pd.Series(dict, index=['y', 'm', 'd','s']) 
print(SeriesDict2)

Series of non declared index
m         2
y      2018
d    Sunday
dtype: object

Series of declared index
y      2018
m         2
d    Sunday
s       NaN
dtype: object

In [11]:
#Altering a Series and using Get() method
dict = {'m' : 2, 'y' : 2018, 'd' : 'Sunday'}
print ("\nUse the get and set methods to access" "a series values by index label\n")
SeriesDict2 = pd.Series(dict, index=['y', 'm', 'd','s']) 
print (SeriesDict2['y']) # Display the year
SeriesDict2['y']=1999 # change the year value
print (SeriesDict2) # Display all dictionary values 
print (SeriesDict2.get('y')) # get specific value by its key

Use the get and set methods to accessa series values by index label

2018
y      1999
m         2
d    Sunday
s       NaN
dtype: object
1999

In [ ]:
Creating a Series from a sclar value

In [12]:
print ("\n CREATE SERIES FORM SCALAR VALUE ")
Scl = pd.Series(8., index=['a', 'b', 'c', 'd'])
print (Scl)

 CREATE SERIES FORM SCALAR VALUE
a    8.0
b    8.0
c    8.0
d    8.0
dtype: float64

Vectorised Operations and Label Alignment in Series

In [14]:
SerX = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
print ("Addition");
print( SerX + SerX)
print ("Addition with non-matched labels");
print (SerX[1:] + SerX[:-1])

Addition
a    2
b    4
c    6
d    8
dtype: int64
Addition with non-matched labels
a    NaN
b    4.0
c    6.0
d    NaN
dtype: float64

In [15]:
print ("Multiplication");
print (SerX * SerX)
print ("Exponential");
print (np.exp(SerX))

Multiplication
a     1
b     4
c     9
d    16
dtype: int64
Exponential
a     2.718282
b     7.389056
c    20.085537
d    54.598150
dtype: float64

In [14]:
#Name Attribute
std = pd.Series([77,89,65,90], name='StudentsMarks')
print (std.name)
std = std.rename("Marks")
print (std.name)

StudentsMarks
Marks