Creating Dictionaries

In [1]:
Prices = {"Honda":40000, "Suzuki":50000, "Mercedes":85000, "Nissan":35000, "Mitsubishi": 43000}
print (Prices)
 
Staff_Salary = { 'Omar Ahmed' : 30000 , 'Ali Ziad' :24000,'Ossama Hashim': 25000,
'Majid Hatem':10000}
print(Staff_Salary)

{'Honda': 40000, 'Suzuki': 50000, 'Mercedes': 85000, 'Nissan': 35000, 'Mitsubishi': 43000}
{'Omar Ahmed': 30000, 'Ali Ziad': 24000, 'Ossama Hashim': 25000, 'Majid Hatem': 10000}

In [1]:
STDMarks={"Salwa Ahmed":50, "Abdullah Mohamed":80,"Sultan Ghanim":90}
print(STDMarks)
STDMarks = dict()
print(STDMarks)
STDMarks['Salwa Ahmed']=50
STDMarks['Abdullah Mohamed']=80
STDMarks['Sultan Ghanim']=90
print (STDMarks)

{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90}
{}
{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90}

Updating and accessing values in Dictionaries

In [3]:
STDMarks={ "Salwa Ahmed":50, "Abdullah Mohamed":80, "Sultan Ghanim":90}
STDMarks['Salwa Ahmed'] = 85 # update current value of the key 'Salwa Ahmed'

STDMarks['Omar Majid'] = 74 # Add a new item to the dictionary
print (STDMarks)

{'Salwa Ahmed': 85, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90, 'Omar Majid': 74}

In [4]:
#Accessing Dictionary Elements
Staff_Salary = { 'Omar Ahmed': 30000 , 'Ali Ziad':24000, 'Ossama Hashim': 25000, 'Majid Hatem':10000}
print('Salary package for Ossama Hashim is ', end="")

# access specific dictionary element
print(Staff_Salary['Ossama Hashim'])

Salary package for Ossama Hashim is 25000

In [5]:
# Define a function to return salary after discount tax 5% 
def Netsalary (salary):
    return salary - (salary * 0.05) # also, could be return salary *0.95
#Iterate all elements in a dictionary
print ("Name" , '\t', '\t',"Net Salary" )
for key, value in Staff_Salary.items():
    print (key , '\t', Netsalary(value))

Name 	 	 Net Salary
Omar Ahmed 	 28500.0
Ali Ziad 	 22800.0
Ossama Hashim 	 23750.0
Majid Hatem 	 9500.0

Deletig Dictionary Elements

In [10]:
STDMarks={"Salwa Ahmed":50, "Abdullah Mohamed":80,"Sultan Ghanim":90}
print (STDMarks)
del STDMarks['Abdullah Mohamed'] # remove entry with key 'Abdullah Mohamed'
print (STDMarks)
STDMarks.clear() # remove all entries in STDMarksdictionary
print (STDMarks)
del STDMarks # delete entire dictionary

{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90}
{'Salwa Ahmed': 50, 'Sultan Ghanim': 90}
{}

Dictionary Functions

In [1]:
#Implementing Dictionary Functions
Staff_Salary = { 'Omar Ahmed' : 30000 , 'Ali Ziad' : 24000, 'Ossama Hashim': 25000, 'Majid Hatem':10000}
STDMarks={"Salwa Ahmed":50, "Abdullah Mohamed":80, "Sultan Ghanim":90}

In [ ]:
def cmp(a, b):
 for key, value in a.items():
     for key1, value1 in b.items():
         return (key >key1) - (key < key1)

In [2]:
False - True

-1

In [18]:
print (cmp(Staff_Salary,STDMarks) )
print (cmp(STDMarks,STDMarks) )
print (len(STDMarks) )
print (str(STDMarks) )
print (type(STDMarks) )

-1
0
3
{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90}
<class 'dict'>

In [3]:
#Dictionary Methods
Staff_Salary = { 'Omar Ahmed' : 30000 , 'Ali Ziad' :24000,'Ossama Hashim': 25000, 'Majid Hatem':10000}
STDMarks={ "Salwa Ahmed":50, "Abdullah Mohamed":80, "Sultan Ghanim":90}
print (Staff_Salary.get('Ali Ziad') )
print (STDMarks.items())
print (Staff_Salary.keys())
print (Staff_Salary.values())
print()

24000
dict_items([('Salwa Ahmed', 50), ('Abdullah Mohamed', 80), ('Sultan Ghanim', 90)])
dict_keys(['Omar Ahmed', 'Ali Ziad', 'Ossama Hashim', 'Majid Hatem'])
dict_values([30000, 24000, 25000, 10000])

In [4]:
Staff_Salary = { 'Omar Ahmed' : 30000 , 'Ali Ziad' :24000,'Ossama Hashim': 25000, 'Majid Hatem':10000}
STDMarks={ "Salwa Ahmed":50, "Abdullah Mohamed":80, "Sultan Ghanim":90}
STDMarks.setdefault('Ali Ziad')
print (STDMarks)
print (STDMarks.update(Staff_Salary))
print (STDMarks)

{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90, 'Ali Ziad': None}
None
{'Salwa Ahmed': 50, 'Abdullah Mohamed': 80, 'Sultan Ghanim': 90, 'Ali Ziad': 24000, 'Omar Ahmed': 30000, 'Ossama Hashim': 25000, 'Majid Hatem': 10000}

Sorting a Dictionary

In [3]:
Staff_Salary = { 'Omar Ahmed' : 30000 , 'Ali Ziad' :24000, 'Ossama Hashim': 25000, 'Majid Hatem':10000}
print ("\nSorted by key")
for k in sorted(Staff_Salary):
    print (k, Staff_Salary[k]  )

Sorted by key
Ali Ziad 24000
Majid Hatem 10000
Omar Ahmed 30000
Ossama Hashim 25000

In [1]:
Staff_Salary = { 'Omar Ahmed' : 30000 , 'Ali Ziad' :24000, 'Ossama Hashim': 25000, 'Majid Hatem':10000}
print ("\nSorted by value")
for w in sorted(Staff_Salary,  reverse=True):
    print (w, Staff_Salary[w])

Sorted by value
Ossama Hashim 25000
Omar Ahmed 30000
Majid Hatem 10000
Ali Ziad 24000