In [4]:
#Statistical Analysis
#Creating a data frame

import pandas as pd
import numpy as np
Number = [1,2,3,4,5,6,7,8,9,10]
Names = ['Ali Ahmed','Mohamed Ziad','Majid Salim','Salwa Ahmed', 'Ahlam Mohamed',\
          'Omar Ali', 'Amna Mohammed','Khalid Yousif', 'Safa Humaid', 'Amjad Tayel']
City = ['Fujairah','Dubai','Sharjah','AbuDhabi','Fujairah','Dubai',\
        'Sharja ', 'AbuDhabi','Sharjah','Fujairah']
columns = ['Number', 'Name', 'City' ]
dataset= pd.DataFrame({'Number': Number , 'Name': Names,
'City': City}, columns = columns )
Gender= pd.DataFrame({'Gender':['Male','Male','Male','Female',
'Female', 'Male', 'Female', 'Male','Female', 'Male']})
Height = pd.DataFrame(np.random.randint(120,175, size=(12, 1)))
Weight = pd.DataFrame(np.random.randint(50,110, size=(12, 1)))
dataset['Gender']= Gender
dataset['Height']= Height
dataset['Weight']= Weight
dataset.set_index('Number')

                 Name      City  Gender  Height  Weight
Number
1           Ali Ahmed  Fujairah    Male     173      67
2        Mohamed Ziad     Dubai    Male     134      77
3         Majid Salim   Sharjah    Male     137     106
4         Salwa Ahmed  AbuDhabi  Female     171     106
5       Ahlam Mohamed  Fujairah  Female     126      98
6            Omar Ali     Dubai    Male     122      56
7       Amna Mohammed   Sharja   Female     121      66
8       Khalid Yousif  AbuDhabi    Male     142      97
9         Safa Humaid   Sharjah  Female     161     104
10        Amjad Tayel  Fujairah    Male     123      88

In [9]:
# Summary statistics for numerical columns
print ( dataset.describe())

         Number      Height      Weight
count  10.00000   10.000000   10.000000
mean    5.50000  148.900000   78.700000
std     3.02765   14.850739   17.372072
min     1.00000  126.000000   56.000000
25%     3.25000  138.250000   68.000000
50%     5.50000  151.500000   78.000000
75%     7.75000  160.500000   83.500000
max    10.00000  166.000000  108.000000

In [10]:
print (dataset.mean()) # Returns the mean of all columns

Number      5.5
Height    148.9
Weight     78.7
dtype: float64

C:\Users\Mahe\AppData\Local\Temp\ipykernel_7036\4205567916.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (dataset.mean()) # Returns the mean of all columns

In [11]:
print (dataset.corr())

         Number    Height    Weight
Number  1.00000 -0.095140 -0.432010
Height -0.09514  1.000000 -0.028124
Weight -0.43201 -0.028124  1.000000

In [12]:
print (dataset.count())

Number    10
Name      10
City      10
Gender    10
Height    10
Weight    10
dtype: int64

In [13]:
print (dataset.max())

Number             10
Name      Salwa Ahmed
City          Sharjah
Gender           Male
Height            166
Weight            108
dtype: object

In [14]:
print (dataset.min())

Number                1
Name      Ahlam Mohamed
City           AbuDhabi
Gender           Female
Height              126
Weight               56
dtype: object

In [15]:
print (dataset.median())

Number      5.5
Height    151.5
Weight     78.0
dtype: float64

C:\Users\Mahe\AppData\Local\Temp\ipykernel_7036\1522921935.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (dataset.median())

In [16]:
print (dataset.std())

Number     3.027650
Height    14.850739
Weight    17.372072
dtype: float64

C:\Users\Mahe\AppData\Local\Temp\ipykernel_7036\661795943.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (dataset.std())

Data Grouping

In [18]:
dataset.groupby('City')['Gender'].count()

City
AbuDhabi    2
Dubai       2
Fujairah    3
Sharja      1
Sharjah     2
Name: Gender, dtype: int64

In [19]:
print (dataset.groupby('City').groups)

{'AbuDhabi': [3, 7], 'Dubai': [1, 5], 'Fujairah': [0, 4, 9], 'Sharja ': [6], 'Sharjah': [2, 8]}

In [20]:
print (dataset.groupby(['City','Gender']).groups)

{('AbuDhabi', 'Female'): [3], ('AbuDhabi', 'Male'): [7], ('Dubai', 'Male'): [1, 5], ('Fujairah', 'Female'): [4], ('Fujairah', 'Male'): [0, 9], ('Sharja ', 'Female'): [6], ('Sharjah', 'Female'): [8], ('Sharjah', 'Male'): [2]}

Iterating through Groups

In [22]:
grouped = dataset.groupby('Gender')
for name,group in grouped:
    print (name)
    print (group)
    print ("\n")

Female
   Number           Name      City  Gender  Height  Weight
3       4    Salwa Ahmed  AbuDhabi  Female     159     108
4       5  Ahlam Mohamed  Fujairah  Female     135     104
6       7  Amna Mohammed   Sharja   Female     127      84
8       9    Safa Humaid   Sharjah  Female     148      76


Male
   Number           Name      City Gender  Height  Weight
0       1      Ali Ahmed  Fujairah   Male     150      80
1       2   Mohamed Ziad     Dubai   Male     166      82
2       3    Majid Salim   Sharjah   Male     153      74
5       6       Omar Ali     Dubai   Male     126      56
7       8  Khalid Yousif  AbuDhabi   Male     164      66
9      10    Amjad Tayel  Fujairah   Male     161      57

In [23]:
#Selectig  a single group
grouped = dataset.groupby('Gender')
print (grouped.get_group('Female'))

   Number           Name      City  Gender  Height  Weight
3       4    Salwa Ahmed  AbuDhabi  Female     159     108
4       5  Ahlam Mohamed  Fujairah  Female     135     104
6       7  Amna Mohammed   Sharja   Female     127      84
8       9    Safa Humaid   Sharjah  Female     148      76

Aggregation

In [24]:
# Aggregation
grouped = dataset.groupby('Gender')
print (grouped['Height'].agg(np.mean))
print ("\n")
print (grouped['Weight'].agg(np.mean))
print ("\n")
print (grouped.agg(np.size))
print ("\n")
print (grouped['Height'].agg([np.sum, np.mean,np.std]))

Gender
Female    142.250000
Male      153.333333
Name: Height, dtype: float64


Gender
Female    93.000000
Male      69.166667
Name: Weight, dtype: float64


        Number  Name  City  Height  Weight
Gender
Female       4     4     4       4       4
Male         6     6     6       6       6


        sum        mean        std
Gender
Female  569  142.250000  14.127397
Male    920  153.333333  14.773851

Transformations

In [7]:
 #Creating the index
dataset = dataset.set_index(['Number'])
print (dataset)

KeyError: "None of ['Number'] are in the columns"

In [6]:
grouped = dataset.groupby('Gender')
score = lambda x: (x - x.mean()) / x.std()*10
print (grouped.transform(score))

           Height     Weight
Number
1       18.507241  -7.899837
2       -2.413988  -2.574104
3       -0.804663  12.870521
4       10.517544   6.703915
5       -7.512531   2.413409
6       -8.851289 -13.758143
7       -9.515873 -14.748613
8        1.877546   8.077361
9        6.510860   5.631288
10      -8.314848   3.284202

C:\Users\Mahe\AppData\Local\Temp\ipykernel_12968\2715691874.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  print (grouped.transform(score))

Filtration

In [8]:
print (dataset.groupby('City').filter(lambda x: len(x)>= 3))

                 Name      City  Gender  Height  Weight
Number
1           Ali Ahmed  Fujairah    Male     173      67
5       Ahlam Mohamed  Fujairah  Female     126      98
10        Amjad Tayel  Fujairah    Male     123      88

In [10]:
import pandas as pd
import numpy as np
my_series1 = pd.Series([5, 6, 7, 8, 9, 10])
my_series_11 = my_series1.copy()
print (my_series1)
my_series_11.index=('A','B','C','D','E','F')
print (my_series_11)
print (my_series1)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64
A     5
B     6
C     7
D     8
E     9
F    10
dtype: int64
0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [21]:
import pandas as pd
import numpy as np
array = np.array(['A','B','C','D','E'])
F1 = pd.DataFrame(array,index=[1,2,3,4,5],columns=["alphabets"])
print (F1)

  alphabets
1         A
2         B
3         C
4         D
5         E