In [1]:
'''Consider the hepatitis/ pima-indians-diabetes csv file, perform the following date pre-processing.
1. Load data in Pandas.              #
2. Drop columns that aren’t useful.  #
3. Drop rows with missing values.    # 
4. Create dummy variables.           #
5. Take care of missing data.        #
6. Convert the data frame to NumPy.
7. Divide the data set into training data and test data.'''

'Consider the hepatitis/ pima-indians-diabetes csv file, perform the following date pre-processing.\n1. Load data in Pandas.              #\n2. Drop columns that aren’t useful.  #\n3. Drop rows with missing values.    # \n4. Create dummy variables.           #\n5. Take care of missing data.        #\n6. Convert the data frame to NumPy.\n7. Divide the data set into training data and test data.'

In [2]:
#Load data in Pandas
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
data=pd.read_csv('hepatitis_csv.csv')
threshold=0.7
data

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [3]:
#Drop columns that aren’t useful
data = data[data.columns[data.isnull().mean() < threshold]]
data

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [4]:
#Drop rows with missing values
data_dropped= data.dropna()
data_dropped

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
5,34,female,True,False,False,False,False,True,False,False,False,False,False,0.9,95.0,28.0,4.0,75.0,False,live
10,39,female,False,True,False,False,False,False,True,False,False,False,False,1.3,78.0,30.0,4.4,85.0,False,live
11,32,female,True,True,True,False,False,True,True,False,True,False,False,1.0,59.0,249.0,3.7,54.0,False,live
12,41,female,True,True,True,False,False,True,True,False,False,False,False,0.9,81.0,60.0,3.9,52.0,False,live
13,30,female,True,False,True,False,False,True,True,False,False,False,False,2.2,57.0,144.0,4.9,78.0,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,45,female,True,True,False,False,False,True,False,False,False,False,False,1.3,85.0,44.0,4.2,85.0,True,live
143,49,female,False,False,True,True,False,True,False,True,True,False,False,1.4,85.0,70.0,3.5,35.0,True,die
145,31,female,False,False,True,False,False,True,False,False,False,False,False,1.2,75.0,173.0,4.2,54.0,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [5]:
#to drop rows if all values are missing
data = data.dropna(how='all')
data

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
0,30,male,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,NaN,False,live
1,50,female,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,NaN,False,live
2,78,female,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,NaN,False,live
3,31,female,NaN,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,80.0,False,live
4,34,female,True,False,False,False,False,True,False,False,False,False,False,1.0,NaN,200.0,4.0,NaN,False,live
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [6]:
#Create dummy variables
data_with_dummies = pd.get_dummies(data, prefix='sex', columns=['sex'])
data_with_dummies

,age,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,...,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class,sex_female,sex_male
0,30,False,False,False,False,False,False,False,False,False,...,False,1.0,85.0,18.0,4.0,NaN,False,live,0,1
1,50,False,False,True,False,False,False,False,False,False,...,False,0.9,135.0,42.0,3.5,NaN,False,live,1,0
2,78,True,False,True,False,False,True,False,False,False,...,False,0.7,96.0,32.0,4.0,NaN,False,live,1,0
3,31,NaN,True,False,False,False,True,False,False,False,...,False,0.7,46.0,52.0,4.0,80.0,False,live,1,0
4,34,True,False,False,False,False,True,False,False,False,...,False,1.0,NaN,200.0,4.0,NaN,False,live,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,True,False,True,True,True,True,False,False,True,...,True,7.6,NaN,242.0,3.3,50.0,True,die,1,0
151,44,True,False,True,False,False,True,True,False,False,...,False,0.9,126.0,142.0,4.3,NaN,True,live,1,0
152,61,False,False,True,True,False,False,True,False,True,...,False,0.8,75.0,20.0,4.1,NaN,True,live,1,0
153,53,False,False,True,False,False,True,False,True,True,...,True,1.5,81.0,19.0,4.1,48.0,True,live,0,1
154,43,True,False,True,False,False,True,False,True,True,...,False,1.2,100.0,19.0,3.1,42.0,True,die,1,0

In [7]:
#gives values with nan
data.isna().sum()

age                 0
sex                 0
steroid             1
antivirals          0
fatigue             1
malaise             1
anorexia            1
liver_big          10
liver_firm         11
spleen_palpable     5
spiders             5
ascites             5
varices             5
bilirubin           6
alk_phosphate      29
sgot                4
albumin            16
protime            67
histology           0
class               0
dtype: int64

In [8]:
#taking care of missing values with categorical imputation
data['steroid'].fillna(data['steroid'].value_counts().idxmax(), inplace=True)
data['fatigue'].fillna(data['fatigue'].value_counts().idxmax(), inplace=True)
data['malaise'].fillna(data['malaise'].value_counts().idxmax(), inplace=True)
data['anorexia'].fillna(data['anorexia'].value_counts().idxmax(), inplace=True)
data['liver_big'].fillna(data['liver_big'].value_counts().idxmax(), inplace=True)
data['liver_firm'].fillna(data['liver_firm'].value_counts().idxmax(), inplace=True)
data['spleen_palpable'].fillna(data['spleen_palpable'].value_counts().idxmax(), inplace=True)
data['spiders'].fillna(data['spiders'].value_counts().idxmax(), inplace=True)
data['ascites'].fillna(data['ascites'].value_counts().idxmax(), inplace=True)
data['varices'].fillna(data['varices'].value_counts().idxmax(), inplace=True)
data['bilirubin'].fillna(data['bilirubin'].value_counts().idxmax(), inplace=True)
data['alk_phosphate'].fillna(data['alk_phosphate'].value_counts().idxmax(), inplace=True)
data['sgot'].fillna(data['sgot'].value_counts().idxmax(), inplace=True)
data['albumin'].fillna(data['albumin'].value_counts().idxmax(), inplace=True)
data['protime'].fillna(data['protime'].value_counts().idxmax(), inplace=True)

data.isna().sum()

age                0
sex                0
steroid            0
antivirals         0
fatigue            0
malaise            0
anorexia           0
liver_big          0
liver_firm         0
spleen_palpable    0
spiders            0
ascites            0
varices            0
bilirubin          0
alk_phosphate      0
sgot               0
albumin            0
protime            0
histology          0
class              0
dtype: int64

In [9]:
#Convert the data frame to NumPy.
data_nu=data.to_numpy()
data_nu

array([[30, 'male', False, ..., 100.0, False, 'live'],
       [50, 'female', False, ..., 100.0, False, 'live'],
       [78, 'female', True, ..., 100.0, False, 'live'],
       ...,
       [61, 'female', False, ..., 100.0, True, 'live'],
       [53, 'male', False, ..., 48.0, True, 'live'],
       [43, 'female', True, ..., 42.0, True, 'die']], dtype=object)

In [10]:
#Divide the data set into training data and test data
X = data.iloc[:, :-1]
y = data.iloc[:, -1]
# split the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=0)

print(X)

     age     sex  steroid  antivirals  fatigue  malaise  anorexia  liver_big  \
0     30    male    False       False    False    False     False      False
1     50  female    False       False     True    False     False      False
2     78  female     True       False     True    False     False       True
3     31  female     True        True    False    False     False       True
4     34  female     True       False    False    False     False       True
..   ...     ...      ...         ...      ...      ...       ...        ...
150   46  female     True       False     True     True      True       True
151   44  female     True       False     True    False     False       True
152   61  female    False       False     True     True     False      False
153   53    male    False       False     True    False     False       True
154   43  female     True       False     True    False     False       True

     liver_firm  spleen_palpable  spiders  ascites  varices  bilirubin  \
0         False            False    False    False    False        1.0
1         False            False    False    False    False        0.9
2         False            False    False    False    False        0.7
3         False            False    False    False    False        0.7
4         False            False    False    False    False        1.0
..          ...              ...      ...      ...      ...        ...
150       False            False     True     True     True        7.6
151        True            False    False    False    False        0.9
152        True            False     True    False    False        0.8
153       False             True     True    False     True        1.5
154       False             True     True     True    False        1.2

     alk_phosphate   sgot  albumin  protime  histology
0             85.0   18.0      4.0    100.0      False
1            135.0   42.0      3.5    100.0      False
2             96.0   32.0      4.0    100.0      False
3             46.0   52.0      4.0     80.0      False
4             85.0  200.0      4.0    100.0      False
..             ...    ...      ...      ...        ...
150           85.0  242.0      3.3     50.0       True
151          126.0  142.0      4.3    100.0       True
152           75.0   20.0      4.1    100.0       True
153           81.0   19.0      4.1     48.0       True
154          100.0   19.0      3.1     42.0       True

[155 rows x 19 columns]

In [11]:
print(y)

0      live
1      live
2      live
3      live
4      live
       ...
150     die
151    live
152    live
153    live
154     die
Name: class, Length: 155, dtype: object

In [12]:
'''Consider the hepatitis/ diabetes csv file, create the regression model display the co-efficients (B0-intercept
and B1-Slope), RMSE and predict the response. Plot the graph x v/s y in yellow and x v/s prediction in green.'''

'Consider the hepatitis/ diabetes csv file, create the regression model display the co-efficients (B0-intercept\nand B1-Slope), RMSE and predict the response. Plot the graph x v/s y in yellow and x v/s prediction in green.'

In [16]:
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt  
from sklearn import preprocessing  
from sklearn.datasets import load_iris  
from sklearn.model_selection import train_test_split  
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score  


df=data
X = df.iloc[:,0]
y = df.iloc[:,-4]
print(X)
print(y)

X_train, X_test, Y_train, Y_test = train_test_split( X, y, test_size = 0.3, random_state = 10 )  
print('X-TRAIN')
Y_train=Y_train.to_numpy()
print(X_train)
print('x-test')
print(X_test)
print('y-train')
print(Y_train)
print('y-test')
print(Y_test)

0      30
1      50
2      78
3      31
4      34
       ..
150    46
151    44
152    61
153    53
154    43
Name: age, Length: 155, dtype: int64
0      4.0
1      3.5
2      4.0
3      4.0
4      4.0
      ...
150    3.3
151    4.3
152    4.1
153    4.1
154    3.1
Name: albumin, Length: 155, dtype: float64
X-TRAIN
49     38
32     41
56     34
97     44
61     32
       ..
113    45
64     49
15     38
125    34
9      30
Name: age, Length: 108, dtype: int64
x-test
81     36
10     39
90     50
67     57
55     37
119    54
98     47
136    51
60     37
43     56
35     37
96     30
85     28
147    70
19     38
58     64
1      50
63     36
91     42
39     65
24     25
127    50
21     27
38     42
79     28
130    54
95     40
83     67
118    61
128    54
66     56
2      78
109    33
104    47
70     24
137    38
121    20
69     44
72     51
124    50
47     28
153    53
78     34
26     49
52     44
151    44
41     23
Name: age, dtype: int64
y-train
[4.2 5.  4.  3.5 4.  4.  3.8 4.  3.4 3.4 4.  4.  4.  4.  4.2 4.  4.2 3.
 4.6 4.  4.  6.4 4.2 3.9 2.4 4.4 2.8 3.3 4.4 4.  4.5 4.  4.  3.3 4.  4.
 3.5 2.6 4.3 3.8 4.  4.1 3.9 4.  4.  4.  3.  3.9 3.8 4.2 4.1 4.  3.8 4.
 3.8 3.6 4.  4.8 3.9 4.1 3.1 2.6 5.3 3.8 3.7 3.6 4.7 4.  2.2 2.9 4.1 2.7
 4.1 3.9 4.  4.2 3.9 4.4 3.3 3.8 4.  4.  4.  4.9 4.  2.7 3.5 3.8 3.4 4.
 4.  2.8 4.2 4.2 2.7 4.3 4.  4.  4.  4.  4.4 3.3 4.3 3.  3.5 2.9 4.1 3.9]
y-test
81     4.2
10     4.4
90     3.4
67     2.6
55     4.0
119    3.8
98     4.2
136    4.5
60     4.5
43     4.4
35     4.2
96     3.9
85     4.0
147    2.8
19     4.2
58     4.3
1      3.5
63     3.1
91     3.3
39     2.9
24     4.3
127    2.4
21     4.1
38     4.0
79     4.9
130    4.5
95     4.2
83     2.9
118    4.0
128    3.1
66     3.0
2      4.0
109    3.0
104    2.1
70     4.3
137    3.5
121    2.9
69     3.7
72     4.4
124    4.0
47     3.3
153    4.1
78     4.4
26     3.7
52     4.4
151    4.3
41     4.6
Name: albumin, dtype: float64

In [17]:
lr =LinearRegression() 
lr.fit( X_train, Y_train )  
Y_pred = lr.predict( X_test )  
print("Value of the coefficients: \n", lr.coef_)  
print(f"Mean square error: {mean_squared_error( Y_test, Y_pred)}")  
print(f"Coefficient of determination: {r2_score( Y_test, Y_pred )}")

ValueError: Expected 2D array, got 1D array instead:
array=[38 41 34 44 32 60 27 40 41 72 45 30 39 47 36 39 22 51 51 31 20 25 31 20
 45 28 30 58 33 56 25 36 22 36 51 52 49 35 35 48 39 24 51 34 34 34 27 62
 38  7 32 23 37 40 42 54 34 23 50 61 43 47 50 61 32 59 42 31 31 52 38 58
 23 30 62 27 41 38 57 39 44 33 28 30 34 36 54 26 32 42 45 38 30 45 48 66
 69 52 30 36 39 46 37 45 49 38 34 30].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
plt.scatter(X_test, Y_test, color = "yellow", label = "original data")  
plt.plot(X_test, Y_pred, color = "green", linewidth=3, label = "regression line")  
plt.xlabel("Age")  
plt.ylabel("Albumin")  
plt.title("Simple Linear Regression")  
plt.show()